{% extends "clients/client_base.html" %}

{% block title %} Dashboard | {{block.super}} {% endblock %}

{% block css_files %} {% endblock %}

{% block content %}

<h1>Hello {{ user.name }}</h1>

<div>
    {% for task in tasks %}

        <div>
            <h2>{{ task.title }}</h2>
        </div>

        <div>
            <p>{{ task.description }}</p>
        </div>

        <div>
            <p>Task Status: {{ task.status }}</p>
        </div>

        {% if task.file %}
            <div>
                {{ task.file }}
            </div>
        {% endif %}

        <div>
            <p>created at: {{ task.created_at }}</p>
        </div>

        <div>
            <p>updated at: {{ task.updated_at }}</p>
        </div>

    {% endfor %}
</div>

{% endblock %}