{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}

    {% endblock %}
    <title>{% block title %} Taskhub {% endblock %}</title>
    {% block css_files %} {% endblock %}
</head>
<body>
    <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% block header %} {% endblock %}
<main>
    {% block content %}

    {% endblock %}
</main>
{% block footer %} {% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>