{% extends "adminpanel/admin_base.html" %}

{% block title %} Dashboard | {{block.super}} {% endblock %}

{% block css_files %} {% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <h1>Admin Panel</h1>

    <div>
        {% for client in clients %}
            <div>

                <h2>{{ client.name}}</h2>

                <div>
                    <h3>Tasks</h3>

                    {% for task in client.tasks.all %}

                        <div>
                            <p>{{ task.title }}</p>
                        </div>

                    {% empty %}

                        <p>This client currently has no Tasks asigned.</p>

                    {% endfor %}

                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}